In [ ]:
#task-1
class Calculator:
  def __init__(self):
     
    print("Let's Calculate!")
  def add(self,n1,n2):
    ans=n1+n2
    print(ans)
  def substract(self,n1,n2):
    ans=n1-n2
    print(ans)
  def multiply(self,n1,n2):
    ans=n1*n2
    print(ans)
  def division(self,n1,n2):
    ans=n1/n2
    print(ans)
n1=int(input())
o=input()
n2=int(input())
c1=Calculator()
if o=="+":
  c1.add(n1,n2)
if o=="-":
  c1.substract(n1,n2)
if o=="*":
  c1.multiply(n1,n2)
if o=="/":
  c1.division(n1,n2)

1
+
2
Let's Calculate!
3

In [ ]:
#task-2
class Course():
  def __init__(self,p,q,r):
    self.course=p
    self.faculty=q
    self.sec=r
  def detail(self):
    print(self.course,"-",self.faculty,"-",self.sec)

c1 = Course("CSE110", "TBA", 8)
c1.detail()
print("===============")
c2 = Course("CSE111", "TBA", 9)
c2.detail()

CSE110 - TBA - 8
===============
CSE111 - TBA - 9

In [ ]:
#task-3
class Patient():
  def __init__(self,p,q,r,s):
    self.name=p
    self.age=q
    self.weight=r
    self.height=s
    self.bmi=r/((s/100)*(s/100))
  def printDetails(self):
    print("Name:",self.name)
    print("Age:",self.age)
    print("Weight:",self.weight)
    print("Height:",self.height)
    print("BMI:",self.bmi)

p1 = Patient("A", 55, 63.0, 158.0)
p1.printDetails()
print("====================")
p2 = Patient("B", 53, 61.0, 149.0)
p2.printDetails()

Name: A
Age: 55
Weight: 63.0
Height: 158.0
BMI: 25.236340330075304
====================
Name: B
Age: 53
Weight: 61.0
Height: 149.0
BMI: 27.476239809017613

In [ ]:
#task-4
class Vehicle:
  def __init__(self):
    self.x=0    # default value set kore dichchi parameter na niye
    self.y=0    #instance variable
  def moveUp(self):
    self.y=self.y+1
  def moveDown(self):
    self.y=self.y-1
  def moveRight(self):
    self.x=self.x+1
  def moveLeft(self):
    self.x=self.x-1
  def print_position(self):
    print("(",self.x,",",self.y,")")
  

car = Vehicle()
car.print_position()
car.moveUp()
car.print_position()
car.moveLeft()
car.print_position()
car.moveDown()
car.print_position()
car.moveRight()

( 0 , 0 )
( 0 , 1 )
( -1 , 1 )
( -1 , 0 )

In [ ]:
#task-5
class Shape():
  def __init__(self,name,d1,d2):
    self.name=name
    self.dimention1=d1
    self.dimention2=d2
  def area(self):
    if self.name=="Triangle" or self.name=="Rhombus":
      area=.5*self.dimention1*self.dimention2
    elif self.name=="Square" or self.name=="Rectangle":
      area=self.dimention1*self.dimention2
    else:
      area="Unknown Shape"
    print('Area:',area)

triangle = Shape("Triangle",10,25)
triangle.area()
print("==========================")
square = Shape("Square",10,10)
square.area()
print("==========================")
rhombus = Shape("Rhombus",18,25)
rhombus.area()
print("==========================")
rectangle = Shape("Rectangle",15,30)
rectangle.area()
print("==========================")
trapezium = Shape("Trapezium",15,30)
trapezium.area()

Area: 125.0
==========================
Area: 100
==========================
Area: 225.0
==========================
Area: 450
==========================
Area: Unknown Shape

In [ ]:
#task-6
class Calculator:
  def __init__(self):
    print("Calculator is ready")
  def calculate(self,n1,n2,o):
    self.num1=n1
    self.num2=n2
    self.op=o
    if self.op=="+":
      val=self.num1+self.num2

    if self.op=="-":
      val=self.num1-self.num2
    if self.op=="*":
      val=self.num1*self.num2
    if self.op=="/":
      val=self.num1/self.num2
    return val
  def showCalculation(self):
    if self.op=="+":
      print(self.num1,"+",self.num2,"=",val)
    elif self.op=="-":
      print(self.num1,"-",self.num2,"=",val)
    elif self.op=="*":
      print(self.num1,"*",self.num2,"=",val)
    elif self.op=="/":
      print(self.num1,"/",self.num2,"=",val)



c1 = Calculator()
print("==================")
val = c1.calculate(10, 20, '+')  #print diye function call kori nai tai kichchu return korte hobe
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 10, '-')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 5, '*')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 16, '/')
print("Returned value:", val)
c1.showCalculation()

Calculator is ready
==================
Returned value: 30
10 + 20 = 30
==================
Returned value: 20
30 - 10 = 20
==================
Returned value: 100
20 * 5 = 100
==================
Returned value: 6.25
100 / 16 = 6.25

In [ ]:
#task-7
class Student:
  def __init__(self,name,id,dept,cg_list):
    self.name=name
    self.id=id
    self.dept=dept
    self.cg=cg_list
  def calculate_CGPA(self):
    self.cgpa=0
    credit=3
    total=0
    count=0
    for num in self.cg:
      total+=num
      count+=1
    self.cgpa=(total*credit)/(count*credit)
    #return cgpa
  def print_details(self):
    print("Name:",self.name,",","ID:",self.id)
    print('Department:',self.dept)
    print("CGPA:",self.cgpa)
    if self.cgpa>3.80:
       print("Your academic standing is'Highest Distinction'.")
    elif self.cgpa>3.65: 
      print("Your academic standing is'High Distinction'.")
    elif self.cgpa>3.50:
       print("Your academic standing is'Distinction'.")
    elif self.cgpa>2.00:
       print("Your academic standing is'Satisfactory'.")
    elif self.cgpa<2.00:
       print("Sorry, you cannot graduate.")


s1 = Student('Dora', '15995599','CSE', [4,3.7,3.7,4])
s1.calculate_CGPA()
print("==========================")
s1.print_details()
print("==========================")
s2 = Student('Pingu', '12312322', 'EEE', [1.7,1.3,1.3,1.3,1])
s2.calculate_CGPA()
print("==========================")
s2.print_details()
print("==========================")
s3 = Student('Bob', '13311331', 'CSE', [2,3,3,3.7,2.7,2.7])
s3.calculate_CGPA()
print("==========================")
s3.print_details()

==========================
Name: Dora , ID: 15995599
Department: CSE
CGPA: 3.85
Your academic standing is'Highest Distinction'.
==========================
==========================
Name: Pingu , ID: 12312322
Department: EEE
CGPA: 1.3199999999999998
Sorry, you cannot graduate.
==========================
==========================
Name: Bob , ID: 13311331
Department: CSE
CGPA: 2.8499999999999996
Your academic standing is'Satisfactory'.

In [ ]:
#task-8
class Shinobi:
  def __init__(self,n,r):
    self.name=n
    self.rank=r
    self.salary=0
    self.mission=0
  def changeRank(self,r2):
    self.rank=r2
  def calSalary(self,m):
    self.mission=m
    if self.rank=="Genin":
      self.salary=self.mission*50
    elif self.rank=="Chunin":
      self.salary=self.mission*100
    else:
      self.salary=self.mission*500
  def printInfo(self):
    print("Name:",self.name)
    print("Rank:",self.rank)
    print("Number of mission:",self.mission)
    print("Salary:",self.salary)

naruto = Shinobi("Naruto", "Genin")
naruto.calSalary(5)
naruto.printInfo()
print('====================')
shikamaru = Shinobi('Shikamaru', "Genin")
shikamaru.printInfo()
shikamaru.changeRank("Chunin")
shikamaru.calSalary(10)
shikamaru.printInfo()
print('====================')
neiji = Shinobi("Neiji", "Jonin")
neiji.calSalary(5)
neiji.printInfo()

Name: Naruto
Rank: Genin
Number of mission: 5
Salary: 250
====================
Name: Shikamaru
Rank: Genin
Number of mission: 0
Salary: 0
Name: Shikamaru
Rank: Chunin
Number of mission: 10
Salary: 1000
====================
Name: Neiji
Rank: Jonin
Number of mission: 5
Salary: 2500

In [ ]:
#task-9
class Programmer:
  def __init__(self,n,l,e):
    self.name=n
    self.language=l
    self.experience=e
  def addExp(self,e2):
    print("Updating experience of",self.name)
    self.experience+=e2
  def printDetails(self):
    print("Horray! A new programmer is born")
    print("Name:",self.name)
    print("Language:",self.language)
    print("Experience:",self.experience)

p1 = Programmer("Ethen Hunt", "Java", 10)
p1.printDetails()
print('--------------------------')
p2 = Programmer("James Bond", "C++", 7)
p2.printDetails()
print('--------------------------')
p3 = Programmer("Jon Snow", "Python", 4)
p3.printDetails()
p3.addExp(5)
p3.printDetails()

Horray! A new programmer is born
Name: Ethen Hunt
Language: Java
Experience: 10
--------------------------
Horray! A new programmer is born
Name: James Bond
Language: C++
Experience: 7
--------------------------
Horray! A new programmer is born
Name: Jon Snow
Language: Python
Experience: 4
Updating experience of Jon Snow
Horray! A new programmer is born
Name: Jon Snow
Language: Python
Experience: 9

In [ ]:
#task-10
class UberEats:
  def __init__(self,n,num,d):
    self.name=n
    self.number=num
    self.delivery=d
    print(self.name+", welcome to UberEats.")
  def add_items(self,i1,i2,p1,p2):
    self.item1=i1
    self.item2=i2
    self.price1=p1
    self.price2=p2
  def print_order_detail(self):
    dict1={}
    total=0
    dict1[self.item1]=self.price1
    dict1[self.item2]=self.price2
    total=self.price1+self.price2
    return f'User Details: Name:,{self.name}, Phone: {self.number} , Address: {self.delivery}\nOrders: {dict1}\nTotal paid amount: {total}'
    

order1 = UberEats("Shakib", "01719658xxx", "Mohakhali")
print("=========================")
order1.add_items("Burger", "Coca Cola", 220, 50)
print("=========================")
print(order1.print_order_detail())
print("=========================")
order2 = UberEats ("Siam", "01719659xxx", "Uttara")
print("=========================")
order2.add_items("Pineapple", "Dairy Milk", 80, 70)
print("=========================")
print(order2.print_order_detail())

Shakib, welcome to UberEats.
=========================
=========================
User Details: Name:,Shakib, Phone: 01719658xxx , Address: Mohakhali
Orders: {'Burger': 220, 'Coca Cola': 50}
Total paid amount: 270
=========================
Siam, welcome to UberEats.
=========================
=========================
User Details: Name:,Siam, Phone: 01719659xxx , Address: Uttara
Orders: {'Pineapple': 80, 'Dairy Milk': 70}
Total paid amount: 150

In [ ]:
#task=11
class Spotify:
  def __init__(self,list1):
    self.list1=list1
    #self.song=list1[0]
    # self.song2=list1[1]
    # self.song3=list1[2]
    print("Welcome to sportify!")
  def add_to_playlist(self,s):
    self.song=s
    self.list1.append(self.song)
    
  def playing_number(self,s_no):
    self.song_no=s_no
    if self.song_no>len(self.list1):
      return f'{self.song_no} number song not found.\nYour playlist has {(len(self.list1))} songs only.'
    else:
      return f'######################\nPlaying {self.song_no} number song for you.\nSong name: {self.list1[self.song_no-1]}'
    
  


user1 = Spotify(["See You Again", "Uptown Funk", "Hello"])
print("=========================")
print(user1.playing_number(4))
user1.add_to_playlist("Dusk Till Dawn")
print(user1.playing_number(3))
print(user1.playing_number(4))

Welcome to sportify!
=========================
4 number song not found.
Your playlist has 3 songs only.
######################
Playing 3 number song for you.
Song name: Hello
######################
Playing 4 number song for you.
Song name: Dusk Till Dawn

In [ ]:
#task-12
class Test:
   def __init__(self):
     self.sum = 0
     self.y = 0
   def methodA(self):
     x=0
     y=0
     y = y + 7
     x = y + 11
     self.sum = x + y
     print(x , y, self.sum)
   def methodB(self):
     x = 0
     self.y = self.y + 11
     x = x + 33 + self.y
     self.sum = self.sum + x + self.y
     print(x , self.y, self.sum)
t1 = Test()
t1.methodA()
t1.methodA()
t1.methodB()
t1.methodB()

18 7 25
18 7 25
44 11 80
55 22 157

In [ ]:
#task-13
class Scope:
   def __init__(self):
     self.x, self.y = 1, 100
   def met1(self):
     x = 3
     x = self.x + 1
     self.y = self.y + self.x + 1
     x = self.y + self.met2() + self.y
     print(x, self.y)
   def met2(self):
     y = 0
     print(self.x, y)
     self.x = self.x + y
     self.y = self.y + 200
     return self.x + y
q2 = Scope()
q2.met1()
q2.met2()
q2.met1()
q2.met2()

1 0
405 302
1 0
1 0
1209 704
1 0

1

In [ ]:
#task-14
class Test3:
  def __init__(self):
    self.sum, self.y = 0, 0
  def methodA(self):
    x, y = 2, 3
    msg = [0]
    msg[0] = 3
    y = self.y + msg[0]
    self.methodB(msg, msg[0])
    x = self.y + msg[0]
    self.sum = x + y + msg[0]
    print(x, y, self.sum)
  def methodB(self, mg2, mg1):
    x = 0
    self.y = self.y + mg2[0]
    x = x + 33 + mg1
    self.sum = self.sum + x + self.y
    mg2[0] = self.y + mg1
    mg1 = mg1 + x + 2
    print(x, self.y, self.sum)
t3 = Test3()
t3.methodA()
t3.methodA()
t3.methodA()
t3.methodA()

36 3 39
9 3 18
36 6 60
15 6 30
36 9 75
21 9 42
36 12 90
27 12 54

In [ ]:
#task-15

class Test5:
  def __init__(self):
    self.sum, self.y = 0, 0
  def methodA(self): 
    x = 0
    z = 0
    while (z < 5):
      self.y = self.y + self.sum
      x = self.y + 1
      print(x, self.y, self.sum)
      self.sum = self.sum + self.methodB(x, self.y)
      z += 1
  def methodB(self, m, n):
    x = 0
    sum = 0
    self.y = self.y + m
    x = n - 4
    sum = sum + self.y
    print(x, self.y, sum)
    return self.sum
t5 = Test5()
t5.methodA()

1 0 0
-4 1 1
2 1 0
-3 3 3
4 3 0
-1 7 7
8 7 0
3 15 15
16 15 0
11 31 31